<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ post.post_title }}</title>
    <style type="text/css" media="screen">
        div.title {
            font-family: Courier;
            font-size: 30pt;
            text-align: left;
            padding: 30px;
            margin: 50px;
        }
        div.date {
            text-align: right;
            padding: 20px;
        }
        div.text {
            font-family: Courier;
            font-size: 20pt;
            text-align: justify;
            padding: 20px;
        }
    </style>
</head>
<body>
    <div class="title">
        <b>{{ post.post_title }}</b>
    </div>
    <div class="date">
        {{ post.pub_date }}
    </div>
    <div class="text">
        <p>{{ post.post_text }}</p>
    </div>
</body>
</html>